<div class="task-container col-md-8 col-md-offset-2">
  <div class="pull-right">
    <%= link_to '修改', edit_admin_task_path(@task),class: "btn btn-primary" %>
    <%= link_to '返回', admin_tasks_path, class:"btn btn-primary" %>
    <%= link_to '删除任务', admin_task_path(@task), method: :delete,  class:"btn btn-primary",
    data: { confirm: "你确定要删除此任务吗？"} %>
  </div>
  <br><br>
  <p>
    <strong>标题:</strong>
    <%= @task.title %>
  </p>

  <p>
    <strong>内容:</strong>
    <div class="markdown">
      <%= markdown(@task.content) %>
    </div>
  </p>

</div>
